body {
	
	margin: auto;
    overflow-x: hidden;
	font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;

}

nav{
	
	background: #1b262c;
    position: sticky;
    top: 0;
	display: flex;
	flex-wrap: wrap;

}

nav ul {
	
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	
}

.home {
	
	padding-left:0px;
	float: left;
	
}

.menu {
	
	float: right;
	
}

nav li {
	
	display: inline-block;
	position: relative;
	padding: 20px 0px;

}

nav a {
	
	text-decoration: none;
	color: white;
	text-align: center;
	
}

.menu li {
	
	margin-left: 40px;
	
}

.menu li:hover {
    color: #9da0a1;
}

.menu li::before {
    content:"";
    display: block;
    height: 5px;
    width: 0%;
    background-color: #f2f6f7;
    top: 0px;
    position: absolute;
    transition: all ease-in-out 200ms; 
}

.menu li:hover::before {
	
    width: 100%;
    
}

.menu::after {
    content: '';
    display: table;
    clear: both;
}

.container {
	
	margin: 0 auto;
	width: 80%;

}

header {
	
	background-color: white;
	color: black;
	padding: 10px 0px;
}

article {
	
	background-color: #6e00ff;
	color: white;
	padding: 10px 0px;
	
}
